@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Cookie&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400&display=swap');

:root {
    --bg-text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%), 0 8px 16px rgb(13 0 77 / 8%);
    --bg-box-shadow: 0px 0px 20px 6px rgba(26, 30, 164, 0.31);
}
*::-webkit-scrollbar{
    width: .4rem;
}
*::-webkit-scrollbar-track{
    background: rgb(6, 6, 44);
}
*::-webkit-scrollbar-thumb{
    background: #0040ff;
}

body {
    background-color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* text-shadow: var(--bg-text-shadow); */
}

i{
    font-size: 20px;
}

.white-icon {
    color: white;
}

.searchsection{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  #0a0d2d;
    position: fixed;
    z-index: 500;
}

#search_bar{
    height: 40px;
    width: 20%;
    border: none;
    background-color: rgb(253, 253, 253);
    padding-left: 20px;
    border-radius: 30px;
}
#adduser{
    /* color: white; */
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(44, 233, 154);
    border: none;
    border-radius: 30px;
    padding: 0 50px;
}
#adduser:hover{
    background-color: rgba(161, 247, 206, 0.932);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.excel-btn {
    background-color: #1d6f42;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  .excel-btn i {
    font-size: 18px;
  }

  .excel-btn:hover {
    background-color: #145c35;
  }

/* guest panel */


/* guest panel */

#setpricemodel{
    position : fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    background-color: #00000079;
}

#setpricemodel .setpricemodelform{
    height: 620px;
    width: 1170px;
    background-color: #ccdff4;
    border-radius: 10px;  
    /* temp */
    position: relative;
    top: 20px;
    animation: guestinfoform .3s ease;
}
a{
    color: black;
}

@keyframes guestinfoform{
    0%{
        transform: translateY(50px);
    }
}



.line{
    width: 10px;
    height: 100%
}
.middle input,.selectinput{
    width: 100%;
    border: none;
    background-color: #d1d7ff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

.datesection{
    display: flex;
}

.datesection span{
    margin: 5px;
}

/* room book table */
.roombooktable{
    position: absolute;
    color: #0a0d2d;
    margin-top: 40px;
    width: 100%;
    height: 100vh;

    /* padding bottom to add space */
    padding-bottom: 900px;
}
.roombooktable thead{
    background-color:  #0a0d2d;
    color: white;
    text-align: center;
}
.roombooktable tbody{
    text-align: center;
}

.action a{
    text-decoration: none;
}

.action button{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
